/*根样式*/
.rootView{
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 10px;
  margin-top: -15px;
}
/*评论头头像，文本框，按钮样式*/
.headView{
  display: flex;
  background: #fff;
}
/*昵称样式*/
.nickNameStyle{
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-family: Georgia;
}
/**
 * 评论列表样式
 */
.commentListStyle{
  padding-left: 55px;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
}
/**
 * 评论内容样式
 */
.commentContentStyle{
  display: flex;
  flex:1;
  margin-left: 10px;
  justify-content: space-between;
}
.img{
  width: 35px;
  height: 35px;
}
/**
 * 评论内容样式
 */
.textareaViewStyle{
  margin-left: 4px;
  display: flex;
  flex-direction: column;
  flex:1;
  margin-bottom: 10px;
}

.textareaClass{
  border:0;border-radius:5px;background-color:rgba(241,241,241,.98);width: 90%;height: 60px;padding: 10px;resize: none;
}

/**
 * 评论按钮样式
 */
.commentBtnStyle{
  width: 100px;
  background-image:url("../../../../assets/images/home/index/background1.jpg");
  margin-top: 1px;
  height: 20px;
  background: #CFCFCF;
  background-image: -webkit-linear-gradient(top, #CFCFCF, #CFCFCF);
  background-image: -moz-linear-gradient(top, #CFCFCF, #CFCFCF);
  background-image: -ms-linear-gradient(top, #CFCFCF, #CFCFCF);
  background-image: -o-linear-gradient(top, #CFCFCF, #CFCFCF);
  background-image: linear-gradient(to bottom, #CFCFCF, #CFCFCF);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 1px 1px 3px 0px #666666;
  -moz-box-shadow: 1px 1px 3px 0px #666666;
  box-shadow: 1px 1px 3px 0px #666666;
  font-family: 黑体;
  color: #ffffff;
  font-size: 10px;
  padding: 2px 30px 12px 30px;
  background: #CFCFCF;
  text-decoration: none;
  
}


.commentBtnStyle2{
  width: 100px;
  background-image:url("../../../../assets/images/home/index/background1.jpg");
  margin-top: 1px;
  height: 20px;
  background: #CFCFCF;
  background-image: -webkit-linear-gradient(top, #CFCFCF, #CFCFCF);
  background-image: -moz-linear-gradient(top, #CFCFCF, #CFCFCF);
  background-image: -ms-linear-gradient(top, #CFCFCF, #CFCFCF);
  background-image: -o-linear-gradient(top, #CFCFCF, #CFCFCF);
  background-image: linear-gradient(to bottom, #CFCFCF, #CFCFCF);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 1px 1px 3px 0px #666666;
  -moz-box-shadow: 1px 1px 3px 0px #666666;
  box-shadow: 1px 1px 3px 0px #666666;
  font-family: 黑体;
  color: #ffffff;
  font-size: 10px;
  padding: 2px 30px 5px 20px;
  background: #CFCFCF;
  text-decoration: none;
  margin-left: 80px;
}
/**
 * 时间字体大小
 */
.timeSize{
  font-size: 10px;
}
.item{
  display:inline;
  background-color: #fff;
  padding: 10px;
}
