.page{margin-bottom: 1.5rem;z-index:1;}
.search-header{width:100%;height:1rem;position: fixed;left:0px;top:0px;z-index: 10;background: linear-gradient(rgba(1, 1, 1, 0.2) 0%, rgba(255, 255, 255, 0) 100%);display:flex;display:-webkit-flex;justify-content: space-between;-webkit-justify-content: space-between;align-items: center;-webkit-align-items: center;}
.search-header.red-bg{background: linear-gradient(rgb(160, 57, 255) 0%, rgba(255, 255, 255, 0) 100%)}
.search-header .classify-icon{font-size:0.32rem;color:#FFFFFF;margin-left:4%;}
.search-header .search-wrap{width:70%;height:0.52rem;background:rgba(255,255,255,0.6);border-radius: 5px;display:flex;display:-webkit-flex;align-items: center;-webkit-align-items: center;}
.search-header .search-wrap .search-icon{width:0.5rem;height:0.42rem;background-image:url("../../../images/common/search.png");background-size:100%;background-repeat: no-repeat;background-position: center;margin-left:0.2rem;margin-right:0.2rem;}
.search-header .search-wrap .search-text{width:80%;font-size:0.32rem;color: #ffffff;}
.search-header .login-wrap{width:auto;height:auto;margin-right:4%;}
.search-header .login-wrap .login-text{font-size:0.32rem;color:#FFFFFF;}
.search-header .login-wrap .my{width:0.6rem;height:0.6rem;background-image:url("../../../../assets/images/home/index/my.png");background-size:100%;background-repeat: no-repeat;background-position: center;}

.swiper-wrap{width:100%;height:3.65rem;position: relative;z-index:1;}
.swiper-wrap img{width:100%;height:100%;}

.mask{width:100%;height:100%;position:absolute;left:0px;top:0px;z-index:10;background-color:rgba(0,0,0,0.3)}
.cart-panel{width:100%;height:40%;position: fixed;z-index:12;left:0px;bottom:0px;background-color:#f5f5f9;transition: transform 0.3s;-webkit-transition: transform 0.3s}
.cart-panel.down{transform: translateY(120%);-webkit-transform: translateY(120%);}
.cart-panel.up{transform: translateY(0%);-webkit-transform: translateY(0%);}
.cart-panel .goods-info{width:98%;height:1.22rem;border-bottom:#EFEFEF solid 1px;display:flex;display:-webkit-flex;align-items: center;-webkit-align-items:center;padding-left:0.2rem;position:relative;z-index:1;background-color:#FFFFFF;}
.cart-panel .goods-info .goods-img{width:0.8rem;height:0.8rem;margin-right:0.3rem;}
.cart-panel .goods-info .goods-img img{width:100%;height:100%;}
.cart-panel .goods-info .goods-wrap{width:80%;height:auto;}
.cart-panel .goods-info .goods-wrap .goods-title{width:100%;height:0.7rem;font-size:0.24rem;overflow:hidden;}
.cart-panel .goods-info .goods-wrap .price{color:#F93036;font-size:0.24rem;}
.cart-panel .goods-info .goods-wrap .goods-code{color:#888888;font-size:0.24rem;position:absolute;z-index:1;right:0.2rem;bottom:0px;}
.cart-panel .close-panel-wrap{width:0.6rem;height:1.2rem;position:absolute;right:-0.2rem;top:-1rem;z-index:2;}
.cart-panel .close-panel-wrap .spot{width:0.12rem;height:0.12rem;position:absolute;z-index:1;bottom:0px;left:0px;background-color:#000000;border-radius: 100%;}
.cart-panel .close-panel-wrap .line{width:1px;height:0.72rem;background-color:#FFFFFF;position:absolute;z-index:1;left:0.05rem;bottom:0.05rem;}
.cart-panel .close-panel-wrap .close{width:0.4rem;height:0.4rem;background-image:url('../../../../assets/images/home/goods/x.png');background-size:100%;background-repeat: no-repeat;background-position: center;position:absolute;left:-0.14rem;top:0.1rem;z-index:1;}

.cart-panel .attr-wrap{width:auto;max-height:3.5rem;padding-left:0.2rem;background-color:#FFFFFF;overflow-y: scroll;overflow-scrolling: touch;-webkit-overflow-scrolling: touch;}
.cart-panel .attr-wrap .attr-list{width:100%;height:auto;margin-top:0.2rem;}
.cart-panel .attr-list .attr-name{width:auto;font-size:0.32rem;}
.cart-panel .attr-list .val-wrap{width:auto;margin-top:0.2rem;display:flex;display:-webkit-flex;flex-wrap: wrap;-webkit-flex-wrap: wrap;}
.cart-panel .attr-list .val-wrap .val{background:#EFEFEF;font-size:0.32rem;padding:0.1rem 0.2rem;border-radius: 0.1rem;margin-right:0.17rem;display:table;margin-bottom:0.17rem;}
.cart-panel .attr-list .val-wrap .val.active{color:#FFFFFF;background-color:#FDA208;}

.cart-panel .amount-wrap{width:auto;padding-left:0.2rem;padding-top:0.2rem;display:flex;display:-webkit-flex;justify-content: space-between;-webkit-justify-content: space-between;height:0.64rem;align-items: center;-webkit-align-items: center;background-color:#FFFFFF;padding-bottom:0.3rem;}
.cart-panel .amount-wrap .amount-name{width:auto;font-size:0.32rem;}
.cart-panel .amount-wrap .amount-input-wrap{width:2.04rem;height:0.64rem;border:1px solid #000000;margin-right:0.2rem;border-radius: 0.08rem;display:flex;display:-webkit-flex;align-items: center;-webkit-align-items: center;}
.cart-panel .amount-wrap .amount-input-wrap .btn{width:0.6rem;height:0.4rem;font-size:0.32rem;text-align:center;line-height:0.4rem;}
.cart-panel .amount-wrap .amount-input-wrap .btn.active{color:#B5B5B5;}
.cart-panel .amount-wrap .amount-input-wrap .dec{border-right: 1px solid #000000;}
.cart-panel .amount-wrap .amount-input-wrap .amount-input{width:0.76rem;height:100%;}
.cart-panel .amount-wrap .amount-input-wrap .amount-input input{width:100%;height:100%;text-align: center;}
.cart-panel .amount-wrap .amount-input-wrap .inc{border-left: 1px solid #000000;}
.cart-panel .sure-btn{width:100%;height:0.8rem;position:absolute;bottom:0px;left:0px;z-index:1;color:#FFFFFF;font-size:0.32rem;background-color:rgb(243, 171, 243);text-align:center;line-height:0.8rem;}

.quick-nav{width:100%;height:1.6rem;background:#FFFFFF;margin-top:0.2rem;display: flex;display:-webkit-flex;justify-content: space-between;-webkit-justify-content: space-between;align-items: center;-webkit-align-items: center;}
.quick-nav .item{width:1.4rem;height:auto;margin-left:2%;margin-right:2%;}
.quick-nav .item-img{width:0.8rem;height:0.8rem;margin:0 auto;}
.quick-nav .item-img img{width:100%;height:100%}
.quick-nav .item-text{width:100%;text-align: center;font-size:0.28rem;color:#7b7f82;margin-top:0.2rem;}

.goods-level-wrap{width:100%;background-color:#FFFFFF;margin-top:0.2rem;}
.goods-level-wrap .classify-title{width:100%;font-size:0.32rem;height:0.62rem;border-bottom: solid #EFEFEF 1px;text-align: center;line-height:0.62rem;}
.goods-level-wrap .classify-title.color1{color:#F73B61}
.goods-level-wrap .classify-title.color2{color:#FE6719}
.goods-level-wrap .classify-title.color3{color:#5FC600}
.goods-level-wrap .goods-level1-wrap{width:100%;height:3.5rem;display: flex;display:-webkit-flex;overflow:hidden;border-bottom: solid #EFEFEF 1px;}
.goods-level-wrap .goods-level1-item0{width:50%;height:100%;border-right:solid #EFEFEF 1px;position: relative;z-index:1;}
.goods-level-wrap .goods-level1-item0 .goods-title2{width:98%;font-size:0.28rem;font-weight:bold;overflow:hidden;height:0.4rem;text-align: center;margin:0 auto;margin-top:0.2rem;}
.goods-level-wrap .goods-level1-item0 .goods-text2{width:auto;font-size:0.28rem;color:#7b7f82;margin-top:0.1rem;text-align: center;}
.goods-level-wrap .goods-level1-item0 .goods-img2{width:1.8rem;height:2rem;margin:0 auto;margin-top:0.1rem;}
.goods-level-wrap .goods-level1-item0 .goods-img2 img{width:100%;height:100%;}
.goods-level-wrap .goods-level1-item1{width:49.5%;height:100%;}
.goods-level-wrap .goods-level1-wrap .goods-title{width:95%;height:0.32rem;font-size:0.28rem;overflow:hidden;font-weight:bold;position: absolute;z-index:1;left:0.2rem;top:0.18rem;}
.goods-level-wrap .goods-level1-wrap .goods-text{width:3rem;font-size:0.28rem;color:#CB385D;position:absolute;left:0.2rem;top:0.6rem;}
.goods-level-wrap .goods-level1-wrap .goods-price1{width:auto;height:0.4rem;background:#F21D4F;color:#FFFFFF;font-size:0.28rem;text-align:center;line-height:0.4rem;position: absolute;left:2rem;top:0.6rem;border-radius: 10px;}
.goods-level-wrap .goods-level1-wrap .goods-price3{width:auto;height:0.4rem;background:#5FC600;color:#FFFFFF;font-size:0.28rem;text-align:center;line-height:0.4rem;position: absolute;left:2rem;top:0.6rem;border-radius: 10px;}
.goods-level-wrap .goods-level1-wrap .goods-img{width:3rem;height:2rem;margin:0 auto;margin-top:1.2rem;}
.goods-level-wrap .goods-level1-wrap .goods-img img{width:100%;height:100%;}

.goods-level-wrap .goods-level1-item1 .goods-row{width:100%;height:49.5%;border-bottom: solid #EFEFEF 1px;position: relative;z-index:1;}
.goods-level-wrap .goods-level1-item1 .goods-row .goods-row-title{width:55%;height:0.32rem;overflow:hidden;position: absolute;z-index:1;left:0.2rem;top:0.2rem;font-size:0.28rem;font-weight: bold;}
.goods-level-wrap .goods-level1-item1 .goods-row .goods-row-text{width:auto;height:auto;position:absolute;z-index:1;left:0.2rem;top:0.6rem;font-size:0.26rem;color:#7b7f82}
.goods-level-wrap .goods-level1-item1 .goods-row .goods-row-img{width:1.2rem;height:1.2rem;position: absolute;z-index:1;right:0.2rem;top:0.2rem;}
.goods-level-wrap .goods-level1-item1 .goods-row .goods-row-img img{width:100%;height:100%;}
.goods-level-wrap .goods-list-wrap{width:100%;display:flex;display:-webkit-flex;}
.goods-level-wrap .goods-list-wrap .goods-list{width:25%;height:3.2rem;border-right:solid 1px #EFEFEF}
.goods-level-wrap .goods-list .title{width:98%;height:0.4rem;font-size:0.28rem;margin:0 auto;overflow:hidden;text-align: center;font-weight: bold;margin-top:0.2rem;}
.goods-level-wrap .goods-list .image{width:1.5rem;height:1.5rem;margin:0 auto;}
.goods-level-wrap .goods-list .image img{width:100%;height:100%;margin-top:0.2rem;}
.goods-level-wrap .goods-list .price{width:100%;text-align: center;color:#D32A4E;font-size:0.28rem;margin-top:0.3rem;}
.goods-level-wrap .goods-list .unprice{width:100%;text-align: center;color:#7b7f82;font-size:0.28rem;margin-top:0rem;text-decoration: line-through;}

.reco-title-wrap{width:100%;height:1rem;display: flex;display:-webkit-flex;justify-content: space-between;-webkit-justify-content: space-between;align-items: center;-webkit-align-items: center;}
.reco-title-wrap .line{width:35%;background-color:#D4D4D4;height:1px;}
.reco-title-wrap .reco-text-wrap{width:2.4rem;display: flex;display:-webkit-flex;justify-content: center;-webkit-justify-content: center;}
.reco-title-wrap .reco-text-wrap .reco-icon{width:0.4rem;height:0.4rem;background-image:url('../../../images/home/index/recom.png');background-size:100%;background-repeat: no-repeat;background-position: center;margin-right:0.2rem;}
.reco-title-wrap .reco-text-wrap .reco-text{font-size:0.32rem;}

.reco-item-wrap{width:100%;display: flex;display:-webkit-flex;justify-content: space-between;-webkit-justify-content: space-between;flex-wrap: wrap;-webkit-flex-wrap:wrap}
.reco-item-wrap .reco-item{width:44%;height:4.5rem;background:#FFFFFF;margin-bottom:0.3rem;margin-left:2%;margin-right:2%;border-style: outset;}
.reco-item-wrap .reco-item .image{width:95%;height:60%;margin:0 auto;margin-top:0.1rem;}
.reco-item-wrap .reco-item .image img{width:100%;height:100%;}
.reco-item-wrap .reco-item .image-bottom{width:95%;height:60%;margin:0 auto;margin-top:0rem;}
.reco-item-wrap .reco-item .image-bottom img{width:100%;height:100%;}
.reco-item-wrap .reco-item .title{width:100%;height:0.8rem;overflow:hidden;font-size:0.28rem;margin-top:0.2rem;}
.reco-item-wrap .reco-item .price{font-size:0.28rem;color:#D32A4E}

.user-info-wrap{width:100%;height:4.4rem;background-image:url("../../../../assets/images/home/index/back.jpg");background-size:100%;background-repeat:no-repeat;background-position: top;position: relative;z-index:1;}
.user-info-wrap .head{width:1.2rem;height:1.2rem;position: absolute;text-align: center;}
.user-info-wrap .nickname{width:auto;height:auto;white-space: nowrap;position:absolute;z-index:1;left:16%;bottom:35%;font-size: 40px;color:rgb(243, 171, 243);}
.user-info-wrap .points{width:auto;height:auto;white-space: nowrap;position:absolute;z-index:1;left:40%;bottom:20%;font-size:23px;color:rgb(223, 190, 241);}