.contain{
	width:  auto;
	height: auto;
	margin:0 auto;
	margin-top: 0.9rem;
}

.contain .bar6{
	padding:10px 0;
}
.contain .bar6 form{
	position:relative;
	width:375px;
	margin:0 auto;
}
.contain .bar6 input {
	width:100%;
	height:42px;
	padding-left:13px;
	border:2px solid #3385ff;
	border-radius:5px;
	background:transparent;
	top:0;
	right:0;
}
.contain .bar6 button {
	height:42px;
	width:42px;
	cursor:pointer;
	position:absolute;
	background:#3385ff;
	border-radius:0 5px 5px 0;
	width:60px;
	top:0;
	right:0;
}
.contain .bar6 button:before {
	content:"搜索";
	font-size:15px;
	color:#F9F0DA;
}
#container {
	width:  auto;
	height: auto;
	margin:0 auto;
}
div.search {
	padding:10px 0;
} 