<IfModule mod_rewrite.c>
  Options Indexes FollowSymLinks ExecCGI
  RewriteEngine On
  RewriteBase /
  RewriteCond %{ REQUEST_FILENAME } !-f
  RewriteCond %{ REQUEST_FILENAME } !-d
  RewriteRule . /router/index.html [L]

  #ErrorDocument 404 /router/index.html
</IfModule>